
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

    /* Font
    */

    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
    }
    
    h1, 
    h2, 
    h3 {
      margin: 10px;
    }
    
    html {
      background-size: cover;
      background-color: white;
    }
  
    body {
        font-family: 'Raleway', sans-serif
    }
    
    /* Logo */
    
    .logo {
      position: static;
      max-width: 150px;
      height: auto;
      margin-left: 50px;
      object-fit: contain;
    }
    
    
    /* Navbar */
    
    .nav-bar {
      display: flex;
      align-content: center;
      justify-content: space-between;
      margin-bottom: 25px;
      
    }
    
    
    .nav-bar-menu {
      display: flex;
      justify-content: space-evenly;
      text-decoration: none;
      list-style: none;
      border-top: 3px solid transparent
      
    }
    
    .nav-bar .link-navbar {
      display: flex;
      justify-content: center;
      width: 150px;
      text-decoration: none;
      margin: 20px 0 20px 0;
      font-size: 18px;

    }
    
    .link-navbar a {
      text-decoration: none;
      color:black
    ;
    }
    
    
    .accommodation-navbar {
      opacity: 0.7;
      color:rgb(0, 4, 231);
      text-decoration: overline;
      list-style: none;  
      
    }
        
    .activites-navbar {
      color:rgb(134, 129, 122);
      list-style: none;
      text-decoration: none;
    }
    
    
    
    /* Searchbar */
    
    
    .header-search,
    p {
      margin-left: 15px;
    }
    
    .icone-info-city {
      background-color: #F2F2F2;
      border-radius: 15px 0 0 15px;
      padding: 14px 14px 14px 18px;
    }
    
    .search {
      font: 700;
      border-right: none;
      border-left: none;
      border-top: 1px solid #F2F2F2;
      border-bottom: 1px solid #F2F2F2;
      padding: 1.1rem;
    }
    
    h1 {
      font-size: 145%; 
      font-weight: 700;
      color: black;
      margin: 10px;
    }
    
    .search-form-button {
      width: 120px;
      background-color:#0065FC;
      color: white;
      border: unset;
      font-weight: 700;
      letter-spacing: 1px;
      border-radius: 0 17px 17px 0;
    }
    
    .fa-search {
      display:none;
    }
    
    .search-form {
      display: flex;
      margin: 25px 15px 25px 15px;
    }

    ::placeholder {
        color: black;
        font-size: 1.2em;
      }

    /* INFO */
     
    .info-icone-container p  {
      color: black;
      font-size: 100%;  
      margin: 0 15px 0 15px;
      align-self: center;
    }
    
    .sous-titre {
      margin: 20px;
    }
    
    .info-icone-container {
      display: flex;
      margin: 50px 0 30px 30px;  
    }
    /* lOGO INFO */ 
    
    .info-icone { 
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(197, 187, 187);
      border-radius: 15px;
    }
    
    .fa-info {
      color:#0065FC;
      font-size: 15px;  
    }
    
    /* FILTer */
    
    .filters-section {
      display: flex;
      flex-wrap: wrap; 
      color: black;
      margin: 55px 0 20px 0;
      flex-direction: row;
    }
    
    .liste-filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border: 2px solid #F2F2F2;
      border-radius: 2rem;
      margin-bottom: 0.5rem;
      font-size: 20px;
      margin: 10px;
      height: 44px;
      transition: 1s;
    }
    
    .filters-section h2 {
      margin-left: 30px;
    }
    
    .filters-section,
    .liste-filters, 
    .filters-icone {
      display: flex;
      align-items: center;
    }
    
    .liste-filters,
    .filters-icone {
      align-content: center;
    }
    
    .container-filters {
      display: flex;
      margin-left: 20px;
    } 
    
    
    .filters-icone {
      background-color: #DEEBFF;
      border-radius: 100%;
      height: 44px;
      width: 44px;
      justify-content: center;
      margin: -2px;
      color: #0065FC;
      align-items: center;
    }
  
    .filters-type {
      display: flex;
      background-color: white;
      border: none;
      margin: 0 15px;
      font-size: 20px;
      margin: 0 15px 0 15px;
    }
    

    /* MAIN */
    
    .container {
      display: flex;
      flex-direction: row-reverse;
    }
    
    .afficher-plus {
      font-size: 1.1rem;
      font-weight:700;
      text-decoration: none;
      color: black;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 40px;
    }
    
    .activities {
      display: block;
      flex-wrap: nowrap;
    }
    
    .header-activities {
      margin: 60px 0 5px 20px;
      font-weight: 700;
    }
    
    .section-activities {
      max-height: 450px;
      display: grid;
      flex-direction: row;
      grid-template-rows: 5rem 2rem 2rem 1rem 12rem;
      grid-gap: 1rem;
      row-gap: 2rem;
      margin: 20px 20px 80px;
    }
    
    .activities-map-container1,
    .activities-map-container2,
    .activities-map-container3,
    .activities-map-container4,
    .activities-map-container5,
    .activities-map-container6 {
      display: flex;
      flex-direction: column;
      margin: 20px 10px 20px 20px;
      background-color: white;
      border-radius: 30px;
      box-shadow: 0 10px 20px rgba(0,0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);
      width: 88%;
      height: 100%;
    }
    
    .activities-map-container1 {
    }
    
    .activities-map-container2 {
    }
    
    .activities-map-container3 {
    }
    
    .activities-map-container4 {
    }
    
    .activities-map-container5 {
    }
    
    .activities-map-container6 {
    }
  
    .activities-description {
      margin: 12px 10px 12px 20px;
      font-weight: 700;
      font-size: 18px;
    }
    
    /* Accommodation */
    
    .accommodation {
      display: flex;
      flex-direction:column;
      flex: 3;
      border-radius: 30px;
      border-color: #F2F2F2;
      background-color: #F2F2F2;
      margin: 0px 30px;
      padding: 0px 10px;
    }
    
    .section-accommodation {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }
    
    .accommodation-figure {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: auto;
      border: 5px solid white;
      border-radius: 30px;
      margin: 15px 10px 5px 10px;
      background-color: white;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.20);
    }
    
    .accommodation-header {
      margin: 25px 0 15px 20px;
    }
    
    .accommodation-description p {
      margin: 10px
    }
    
    
    /* Most popular */
    
    .most-popular{
      display: flex;
      flex: 1;
      flex-direction: column;
      border-radius: 30px;
      border-color: #F2F2F2;
      background-color:#F2F2F2;
      padding: 20px 30px;
      margin: 0px 30px 0px 0px;
    }
    
    .popular-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    
    .popular-figure {
      display: flex;
      width: 100%;
      height: 150px;
      border: 5px solid white;
      border-radius: 25px;
      margin: 20px 0px 10px 0px;
      background-color: white;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.20);
    }
    
    .popular-description {
      margin: 5px 0 0 5px;
    }
  
    .popular-description p {
      margin-left: 10px;
    }
    
    /* Logo Most Popular */
    
    .fa-chart-line {
      font-size: 23px;
      margin: 3px 25px 0 15px;
    }
    
    
    /* Main */
    
    /* IMAGES */
    
    .accommodation-image {
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;  
      width: auto;
      height: 126px;
      object-fit: cover;
    }
    
    .popular-image {
      display: flex;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 35%;   
      object-fit: cover; 
    }
    
    .activities-image {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      width: 100%;
      height: 79%;
      object-fit: cover;
      flex: 1.2;
    }
    

    
    /* ICONES STAR */
    
    .stars {
      margin: 10px;
    }
    
    .star-icone[data-active="true"] {
      color: #0065FC;
    }
    
    .star-icone[data-active="false"] {
      color: #ebe9e9;
    }
    
    
     /* FOOTER */
    
    footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 170px;
      border: #F2F2F2 outset;
      background-color: #F2F2F2;
      padding: 0 0 0 25px;
      border: none;
    }
    
    .footer-liste h3 {
      font-size: 17px;
      margin: 20px 10px 15px 0;
    }

    .footer-liste {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
 
    .footer-liste li {
      display: flex;
      font-size: 15px;
      list-style: none;
      text-decoration: none;
      line-height: 23px;
    }

    
    
    /*-----------------------Code pour format de HOVER-----------------*/
    
    /* HOVER navbar */ 
    
    .link-navbar:hover {
      border-top: 3px solid #0065FC;
      color: #0065FC;
      margin: 0;
      padding-top: 1.5rem;
    }
    
    .link-navbar a:hover {
      text-decoration: blue;
      color: #0065FC
    
    }
    
    
    /* HOVER Searchbar */
    
    .search-form-button:hover {
      transform: scale(1.1);
      color: #ebe9e9;
    }
    
   
    
    
    /* HOVER Popular */
    
    .popular-figure:hover {
      transform: scale(1.05);
      opacity: .6;
    }

    
    /* HOVER Accommodation */
    
    .accommodation-figure:hover {
      transform: scale(1.05);
      opacity: .6;  
    }
    
    
    /* HOVER activites image */
    
    .activities-map-container:hover {
      transform: scale(1.05);
      opacity: .6;
      color:#0065FC;
    }
  
    .activities-map-container,
    .activities-map-container1,
    .activities-map-container2, 
    .activities-map-container3, 
    .activities-map-container4, 
    .activities-map-container5, 
    .activities-map-container6 {
    transform: scale(1.05);   
    }
  
    
    /* HOVER section filtres */
    
    .liste-filters i:hover {
      color: black;
    }
    
    button:hover {
      color:#0065FC;
    }
    
 
    
    /* HOVER footer */
    
    .footer-liste-child li:hover {
      text-decoration: underline;
      color:#0065FC;
      transition: 0.1s;
    }
    
  
    /*-----------------------Code pour format de tablette-----------------*/
    
    @media screen and (max-width: 992px) {
  
    .filters-section {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 20px 0;
    }
  
    .container-filters {
      flex-direction: row;
      flex-wrap: wrap;
    } 
    
    .container {
      display: flex;
      flex-direction: column;
    }
  
    .most-popular {
      align-items: center;
      border: none;
      margin: 0;
      border-radius: 0;
    }
  
    .accommodation-header {
      margin: 10px 0 15px 10px;
    }
  
    .section-accommodation{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 10px 40px 0 25px;
    }
  
    .accommodation {
      display: flex;
      flex-direction: column;
      border: none;
      background: none;
      margin: 0;
      padding: 0;
    }
  
    .accommodation-figure {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 45%;
      height: 250px;
      border: 5px solid white;
      border-radius: 35px;
      margin: 10px 5px 15px 10px;
      background-color: white;
    }
    
    .accommodation-image {
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;  
      width: 100%;
      height: 126px;
      object-fit: cover;
    }
    
    .afficher-plus   {
      margin: 10px 0px 10px 40px;
    }
    
    .section-activities {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-height: none;
      grid-template-rows: none;
      grid-gap: 0;
      row-gap: 0;
      margin: 10px 25px 15px 10px;
      justify-content: space-between;
    }
    
    .activities-map-container,
    .activities-map-container1,
    .activities-map-container2, 
    .activities-map-container3, 
    .activities-map-container4, 
    .activities-map-container5, 
    .activities-map-container6 {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      border-radius: 30px;
      box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
      width: 100%;
      height: 250px;
      margin: 20px 20px 15px 30px;
  } 
  
    .Activities-image {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
  
    .header-activities {
      margin: 30px 0 5px 10px;
      font-weight: 700;
    }
    
    .header-search h1 {
      font-size: 1.6rem;
      font-weight: 700;
    }
    
    .header-search p {
      margin-left: 15px;
      font-size: 1.2rem;
    }
  
    }
  
    /*--------------------------Code format mobile--------------------------*/
  
    @media screen and (max-width: 768px) {
  
    body {
    }  
      
    /* HOVER */ 
        
    .link-navbar:hover {
      border: none;
    }
        
    .link-navbar a:hover {
      color: #0065FC;
      border-bottom-color: #0065FC;
    }
    
    .liste-filters i:hover {
      color: black;
    }
    
    button:hover {
      color:#0065FC;
    }
    /* HOVER */
        
    .nav-bar {
      display: flex;
    }
        
    .logo {
      position: absolute;
      width: 150px;
      height: auto;
      margin-left: 25px;
      object-fit: contain;
    }
        
    .nav-bar-menu {
      text-decoration: none;
      list-style: none;
      align-items: center;
      margin-top: 75px;
      padding: 0;
      width: 100%;
      height: 50px;
    }
        
    .link-navbar a {
      display: flex;
      flex: 1;
      justify-content: center;
      border-bottom: 2px solid #F2F2F2;
      width: 100%;
      padding-bottom: 20px;
    }
        
    .nav-bar .link-navbar {
      display: flex;
      justify-content: center;
      width: 100%;
      text-decoration: none;
      font-size: 18px;
      padding-top: 10px;
    }
    
    .header-search, p {
      margin-left: 14px;
      font-size: 17px;
    }
        
    .icone-info-city {
      background-color: #F2F2F2;
      border-radius: 15px 0 0 15px;
      padding: 20px 20px 20px 20px;
    }
        
    .search {
      font-weight: 700;
      border-right: none;
      border-left: none;
      border-top: 1px solid #F2F2F2;
      border-bottom: 1px solid #F2F2F2;
      padding: 1.2rem;
    }
        
    span {
      display: none;
    }
        
    .fa-search {
      display: flex;
      align-content: center;
      justify-content: center;
      font-weight: 700;
      color: white;
      font-size: 17px;
    }
        
    .search-form-button {
      width: 55px;
      background-color:#0065FC;
      color: white;
      border: unset;
      font-weight: 700;
      letter-spacing: 1px;
      border-radius: 0 17px 17px 0;
    }
        
    .filters-section h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
        
    .filters-section {
      display: flex;
      margin: 0 0 20px 0;
      flex-direction: column;
    }
        
    .liste-filters {  
      margin-right: 25px;
      align-items: center;
    }
        
    .container-filters {
      margin-left: 20px;
      line-height: 1.6;
      display: inline;
    }
      
    .container {
      display: flex;
      flex-direction: column;
    }
      
    .most-popular {
      display: flex;
      flex-direction: column;
      border-color: #F2F2F2;
      background-color: #F2F2F2;
      margin: 0;
      padding: 0;
      padding-bottom: 15px;
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      align-content: center;
    }
        
    .popular-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;  
      margin-left: 10px;
    }
        
    .popular-figure {
      display: flex;
      width: 91%;
      border: 5px solid white;
      border-radius: 25px;
      margin: 15px;
      background-color: white;
      box-shadow: 0 0px 15px rgb(0 0 0 / 20%);
    }
      
    .popular-image {
      display: flex;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      object-fit: cover;
      width: 40%;
      height: auto;
    }
  
    .popular-description {
      margin: 5px 0 0 5px;
      height: 100%;
      width: 100%;
    }
  
    .accommodation {
      display: flex;
      flex-direction: column;
      border: none;
      background: none;
      margin: 0;
      padding: 0;
    }
      
    .accommodation-figure {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 244px;
      border: 5px solid white;
      border-radius: 30px;
      margin: 0 0 30px 15px;
    }
      
    .accommodation-header {
      margin: 10px 0 15px 10px;
    }
      
    .accommodation-image {
      width: 100%;
      height: 126px;
      object-fit: cover;
    }
      
    .afficher-plus {
      margin: 0 0 20px 45px;
    }
      
    .header-activities {
      margin: 20px 0 5px 15px;
    }
        
    .section-activities {
      display: flex;
      flex-direction: column;
    }   
  
    .activities-map-container,
    .activities-map-container1,
    .activities-map-container2,
    .activities-map-container3,
    .activities-map-container4,
    .activities-map-container5,
    .activities-map-container6 {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      border-radius: 30px;
      box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
      width: 90%;
      height: 250px;
      margin: 20px 20px 15px 30px;
  }
  
    footer {
      display: flex;
      flex-direction: column;
      height: 100%;
      border: #F2F2F2 outset;
      background-color: #F2F2F2;
      padding-left: 25px;
      padding-bottom: 20px;
      border: none;
    }
    .footer-liste h3 {
      font-size: 17px;
      margin: 20px 10px 15px 0;
    }
    
    .footer-liste li {
      background-color: #F2F2F2;
      display: flex;
      font-size: 15px;
      list-style: none;
      text-decoration: none;
      line-height: 23px;
    }
    
    .footer-liste {
      background-color: #F2F2F2;
    }
    