
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

    /* Font
    */

    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
    }
    
    h1, 
    h2, 
    h3 {
      margin: 10px;
    }
    
    html {
      background-size: cover;
      background-color: white;
    }
  
    body {
      font-family: 'Raleway', sans-serif
    }
    
    /* Logo */
    
    .logo {
      position: static;
      max-width: 150px;
      height: auto;
      margin-left: 50px;
      object-fit: contain;
    }
    
    /* Navbar */
    
    .nav-bar {
      display: flex;
      align-content: center;
      justify-content: space-between;
      margin-bottom: 25px;
      
    }
    
    .nav-bar-menu {
      display: flex;
      justify-content: space-evenly;
      text-decoration: none;
      list-style: none;
    }
    
    .nav-bar .link-navbar {
      display: flex;
      justify-content: center;
      width: 150px;
      text-decoration: none;
      margin: 0 0 20px 0;
      font-size: 18px;
      margin: 0;
      padding-top: 1.5rem;
      border-top: 3px solid transparent;
    }
    
    .link-navbar a {
      text-decoration: none;
      color:black;
    }
    
    
    .accommodation-navbar {
      opacity: 0.7;
      color:rgb(0, 4, 231);
      text-decoration: overline;
      list-style: none;  
      
    }
        
    .activites-navbar {
      color:rgb(134, 129, 122);
      list-style: none;
      text-decoration: none;
    }
    
    
    
    /* Searchbar */
    
    
    .header-search,
    p {
      margin-left: 15px;
    }
    
    .icone-info-city {
      background-color: #F2F2F2;
      border-radius: 15px 0 0 15px;
      padding: 14px 14px 14px 18px;
    }
    
    .search {
      font: 700;
      border-right: none;
      border-left: none;
      border-top: 1px solid #F2F2F2;
      border-bottom: 1px solid #F2F2F2;
      padding: 1.1rem;
      width: 200px;
    }
    
    h1 {
      font-size: 25px; 
      font-weight: 700;
      color: black;
      margin: 10px;
    }
    
    .search-form-button {
      width: 120px;
      background-color:#0065FC;
      color: white;
      border: unset;
      font-weight: 700;
      letter-spacing: 1px;
      border-radius: 0 17px 17px 0;
      font-family: inherit;
    }
    
    .fa-search {
      display:none;
    }
    
    .search-form {
      display: flex;
      margin: 25px 15px 25px 15px;
    }

    ::placeholder {
        color: black;
        font-size: 18px;
      }

    /* INFO */
     
    .info-icone-container p  {
      color: black;
      font-size: 20px;  
      align-self: center;
    }
    
    .sous-titre {
      margin: 20px;
    }
    
    .info-icone-container {
      width: 100%;
      display: flex;
      margin-top: 15px;
    }
    /* lOGO INFO */ 
    
    .info-icone { 
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(197, 187, 187);
      border-radius: 15px;
      margin-left: 35px;
    }
    
    .fa-info {
      color:#0065FC;
      font-size: 15px;  
    }
    
    /* FILTer */
    
    .filters-section {
      display: flex;
      flex-wrap: wrap; 
      color: black;
      margin: 55px 0 20px 0;
      flex-direction: row;
    }
    
    .liste-filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border: 2px solid #F2F2F2;
      border-radius: 2rem;
      margin-bottom: 0.5rem;
      font-size: 20px;
      margin: 10px;
      height: 44px;
      transition: 1s;
      font-family: inherit;
      cursor: pointer
    }
    
    .filters-section h2 {
      margin-left: 30px;
    }
    
    .filters-section,
    .liste-filters, 
    .filters-icone {
      display: flex;
    }
    
    .liste-filters,
    .filters-icone {
      align-content: center;
    }
    
    .container-filters {
      display: flex;
      margin-left: 20px;
    } 
    
    .filters-icone {
      background-color: #DEEBFF;
      border-radius: 100%;
      height: 44px;
      width: 44px;
      justify-content: center;
      margin: -2px;
      color: #0065FC;
      align-items: center;
      cursor: pointer;
    }
  
    .filters-type {
      display: flex;
      background-color: white;
      border: none;
      margin: 0 15px;
      font-size: 20px;
      margin: 0 15px 0 15px;
      cursor: pointer;
    }
    
    /* MAIN */
    
    .container {
      display: flex;
      flex-direction: row-reverse;
    }
    
    /* Accommodation */
    
    .accommodation {
      display: flex;
      flex-direction:column;
      flex: 70%;
      border-radius: 30px;
      border-color: #F2F2F2;
      background-color: #F2F2F2;
      margin: 0px 30px;
      padding: 0px 10px;
    }
    
    .section-accommodation {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }
    
    .accommodation-figure {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: auto;
      border: 5px solid white;
      border-radius: 30px;
      margin: 15px 10px 5px 10px;
      background-color: white;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.20);
      cursor: pointer
    }
    
    .accommodation-header {
      margin: 25px 0 15px 20px;
    }
    
    .accommodation-description p {
      margin: 10px
    }

    .accommodation-image {
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;  
      width: auto;
      height: 126px;
      object-fit: cover;
    }
    
    /* Most popular */
    
    .most-popular{
      display: flex;
      flex: 30%;
      flex-direction: column;
      border-radius: 30px;
      border-color: #F2F2F2;
      background-color:#F2F2F2;
      padding: 20px 30px;
      margin: 0px 30px 0px 0px;
      cursor: pointer
    }
    
    .popular-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    .popular-figure {
      display: flex;
      width: 100%;
      height: 165px;
      border: 5px solid white;
      border-radius: 25px;
      margin: 20px 0px 10px 0px;
      background-color: white;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.20);
      cursor: pointer;
    }
    
    .popular-description {
      margin: 5px 0 0 5px;
    }
  
    .popular-description p {
      margin-left: 10px;
    }
    
    .popular-image {
      display: flex;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 35%;   
      object-fit: cover; 
    }
    
    /* Logo Most Popular */
    
    .fa-chart-line {
      font-size: 23px;
      margin: 3px 25px 0 15px;
    } 

    /* ICONES STAR */
    
    .stars {
      margin: 10px;
    }
    
    .star-icone[data-active="true"] {
      color: #0065FC;
    }
    
    .star-icone[data-active="false"] {
      color: #ebe9e9;
    }
    
    .afficher-plus {
      font-size: 20px;
      font-weight:700;
      text-decoration: none;
      color: black;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 40px;
    }
    
    /*Activities*/

    .header-activities {
      margin: 30px 0 0 30px;
      font-weight: 700;
    }
    
    .Activities {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      margin: 30px 30px 30px 30px;
    }
      
    .col1,
    .col2 {
      flex-basis: 24%;
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
    }
      
    .col1{
      background-color: white;
      border-radius: 20px 20px 20px 20px;
      border: 2px solid transparent;
      box-shadow: 1px 1px 8px #e2e2e2;
      text-decoration: none;
      color: black;
      width: fit-content;
    }
  
    .col2 {
      margin: 0 20px;
      flex-direction: column;
    }
    
    .bloc.split60:nth-child(1) {
      margin-bottom: 30px;
    }

    .col2:nth-child(4) > .bloc:nth-child(1) {
      margin-bottom: 30px;
    }

    .col2:nth-child(4) {
      margin-right: 0;
    }
      
    .bloc {
      background-color: white;
      border-radius: 20px 20px 20px 20px;
      border: 2px solid transparent;
      box-shadow: 1px 1px 8px #e2e2e2;
      text-decoration: none;
      color: black;
    }
    
    .bloc img {
      width: 100%;
      height: calc(100% - 50px);
      object-fit: cover;
    }

    .bloc.split60 {
      height: calc(60% - 30px) 
    } 
      
    .bloc.split40 {
     height: 40%;
    }
    
    .text {
      font-size: 14px;
      margin: 10px 0 10px 10px;
      font-weight: 700;
    }

    .activities-image {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
      height: fit-content;
      object-fit: cover;
      flex: 1.2;
    }
    
    .activities-image-large {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
      height: 92%;
      object-fit: cover;
      flex: 1.2;
    }
    
     /* FOOTER */
    
    footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 170px;
      border: #F2F2F2 outset;
      background-color: #F2F2F2;
      padding: 0 0 0 30px;
      border: none;
    }
    
    .footer-liste h3 {
      font-size: 17px;
      margin: 20px 10px 15px 0;
    }

    .footer-liste {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
 
    .footer-liste li {
      display: flex;
      font-size: 15px;
      list-style: none;
      text-decoration: none;
      line-height: 23px;
    }

    /*-----------------------HOVER-----------------*/
    
    /* HOVER navbar */ 
    
    .link-navbar:hover {
      border-top: 3px solid #0065FC;
      color: #0065FC;
    }
    
    .link-navbar a:hover {
      text-decoration: blue;
      color: #0065FC
    }
    
    /* HOVER Searchbar */
    
    .search-form-button:hover {
      transform: scale(1.1);
      color: #ebe9e9;
    }
    
   
    
    
    /* HOVER Popular */
    
    .popular-figure:hover {
      transform: scale(1.01);
    }

    
    /* HOVER Accommodation */
    
    .accommodation-figure:hover {
      transform: scale(1.01);
    }
    
    
    /* HOVER activites image */
    
    .bloc:hover{
    transform: scale(1.01); 
    }
  
    
    /* HOVER section filtres */
    
    .liste-filters i:hover {
      color: black;
    }
    
    button:hover {
      color:#0065FC;
    }
    
 
    
    /* HOVER footer */
    
    .footer-liste-child li:hover {
      text-decoration: underline;
      color:#0065FC;
      transition: 0.1s;
    }
    
  
    /*-----------------------Code pour format de tablette-----------------*/
    
    @media screen and (max-width: 992px) {
  
    .filters-section {
      flex-wrap: wrap;
      margin: 0 0 20px 0;
    }
  
    .container-filters {
      flex-direction: row;
      flex-wrap: wrap;
    } 
    
    .container {
      flex-direction: column;
    }
  
    .most-popular {
      align-items: center;
      border: none;
      margin: 0;
      border-radius: 0;
    }
  
    .accommodation-header {
      margin: 10px 0 15px 10px;
    }
  
    .section-accommodation{
      margin: 10px 40px 0 25px;
    }
  
    .accommodation {
      border: none;
      background: none;
      margin: 0;
      padding: 0;
    }
  
    .accommodation-figure {
      flex-direction: row;
      flex-wrap: wrap;
      width: 45%;
      height: 250px;
      border-radius: 35px;
      margin: 10px 5px 15px 10px;
    }
    
    .accommodation-image {
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;  
      width: 100%;
    }
    
    .afficher-plus   {
      margin: 10px 0px 10px 40px;
    }
    
    .section-activities {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-height: none;
      grid-template-rows: none;
      grid-gap: 0;
      row-gap: 0;
      margin: 10px 25px 15px 10px;
      justify-content: space-between;
    }
  
    .Activities-image {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      height: 80%;
    }
  
    .header-activities {
      margin: 30px 0 5px 10px;
    }
    
    .header-search h1 {
      font-size: 25px;
      font-weight: 700;
    }
    
    .header-search p {
      margin-left: 15px;
      font-size: 20px;
    }
  
    }

    @media screen and (min-width : 993px) and (max-width : 1122px) {

    h3 {
      font-size: 14px;
    }

    }
  
    /*--------------------------Code format mobile--------------------------*/
  
    @media screen and (max-width: 768px) {
        
    .link-navbar {
       border-top: 3px solid #F2F2F2;
    }
          
    .link-navbar:hover {
      border-top: 3px solid transparent;
    }
    .link-navbar:hover {
      border: none;
    }
        
    .link-navbar a:hover {
      color: #0065FC;
      border-bottom-color: #0065FC;
    }
    
    .liste-filters i:hover {
      color: black;
    }
    
    button:hover {
      color:#0065FC;
    }
        
    .logo {
      position: absolute;
      width: 150px;
      margin-left: 140px;
      height: 50px;
      margin-top: 20px;
    }
        
    .nav-bar-menu {
      align-items: center;
      margin-top: 75px;
      padding: 0;
      width: 100%;
      height: 50px;
    }
        
    .link-navbar a {
      display: flex;
      flex: 1;
      justify-content: center;
      border-bottom: 2px solid #F2F2F2;
      width: 100%;
      padding-bottom: 20px;
    }
        
    .nav-bar .link-navbar {
      width: 100%;
      padding-top: 10px;
    }
    
    .header-search, p {
      margin-left: 14px;
      font-size: 17px;
    }
        
    .icone-info-city {
      padding: 20px 20px 20px 20px;
    }
        
    .search {
      padding: 1.2rem;
    }
        
    span {
      display: none;
    }
        
    .fa-search {
      display: flex;
      align-content: center;
      justify-content: center;
      font-weight: 700;
      color: white;
      font-size: 17px;
    }
        
    .search-form-button {
      width: 55px;
    }
        
    .filters-section h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
        
    .filters-section {
      margin: 0 0 20px 0;
      flex-direction: column;
    }
        
    .liste-filters {  
      margin-right: 25px;
    }
        
    .container-filters {
      line-height: 1.6;
    }
      
    .container {
      display: flex;
      flex-direction: column;
    }
      
    .most-popular {
      margin: 0;
      padding: 0;
      padding-bottom: 15px;
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      align-content: center;
    }
        
    .popular-header {
      margin-top: 15px;  
      margin-left: 10px;
    }
        
    .popular-figure {
      width: 95%;
      box-shadow: 0 0px 15px rgb(0 0 0 / 20%);
      margin-left: 10px;
      margin-right: 10px;
    }
      
    .popular-image {
      width: 40%;
      height: auto;
    }
  
    .popular-description {
      margin: 5px 0 0 5px;
      height: 100%;
      width: 50%;
    }
  
    .accommodation {
      border: none;
      background: none;
      margin: 0;
      padding: 0;
    }
      
    .accommodation-figure {
      width: 100%;
      height: 244px;
      margin: 0 0 30px 15px;
    }
      
    .accommodation-header {
      margin: 30px 0 15px 30px;
    }
      
    .accommodation-image {
      width: 100%;
      height: 126px;
    }
    
    .section-accommodation {
      margin-right: 15px;
      margin-left: 5px;
    }

    .afficher-plus {
      margin: 0 0 20px 45px;
    }
      
    .header-activities {
      margin: 20px 0 5px 15px;
    }
        
    .Activities {
      flex-direction: column;
    }   
  
    .col1.col2 {
      border-radius: 30px;
      box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
      width: 90%;
      height: 250px;
      margin: 20px 20px 15px 30px;
    }

    .col1{
       margin-bottom: 30px;
    }

    .col2{
      margin:0
    }

    .bloc{
      height :300px;
    }

    .bloc.split40{
      height :300px;
    }

    .bloc.split60{
      height :300px;
    }

    .bloc.split40{
      margin-bottom: 30px;
    }
  
    .footer {
      flex-direction: column;
      height: 100%;
      padding-left: 25px;
      padding-bottom: 20px;
    }
    
    .footer-liste li {
      background-color: #F2F2F2;
    }
    
    .footer-liste {
      background-color: #F2F2F2;
    }